
@using HM.Presupuestos.Server.Services

@inject IAvisosService AvisosService
@inject TraduccionesHelper TraduccionesHelper

@implements IDisposable

@* @inherits UserContext *@

@if (_mostrarModal)
{
    <div class="modal-backdrop fade show"></div>
    <div class="modal d-block text-center" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content shadow-lg">
                <div class="modal-header @($"bg-{_tipoClase}")">
                    <h5 class="modal-title">@IconoAviso @_pageTitle</h5>
                </div>
                <div class="modal-body">
                    <p>@_mensaje</p>
                    <button class="btn @($"btn-{_tipoClase}")" @onclick="Cerrar">@_cerrar</button>
                </div>
            </div>
        </div>
    </div>


}

@code {

    private bool _mostrarModal = false;
    private string _cerrar  { get; set; } = string.Empty;
    private string _mensaje = string.Empty;
    private string _pageTitle { get; set; } = string.Empty;
    private string _tipoClase { get; set; } = "warning"; // warning, info, success, error

    protected override void OnInitialized()
    {

        AvisosService.OnAvisoActivado += ManejarAvisos;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await base.OnAfterRenderAsync(firstRender);
            _pageTitle = await TraduccionesHelper.GetResourceValue("Pages:Avisos:Titulo:label");
            _cerrar = await TraduccionesHelper.GetResourceValue("Botones:Cerrar:label");
        }
    }

    private async Task ManejarAvisos(string mensaje, TiposDeAviso tipo)
    {
        _mostrarModal = true;

        _mensaje = mensaje;
        switch  ( tipo)
        {
            case TiposDeAviso.Warning:
                {
                    _tipoClase = "warning";
                    break;
                }
            case TiposDeAviso.Info:
                {
                    _tipoClase = "info";
                    break;
                }
            case TiposDeAviso.Success:
                {
                    _tipoClase = "success";
                    break;
                }
            case TiposDeAviso.Error:
                {
                    _tipoClase = "danger";
                    break;
                }
        }

        await InvokeAsync(StateHasChanged);
    }
    

    private void Cerrar()
    {
        _mostrarModal = false;
    }

    public void Dispose()
    {
        AvisosService.OnAvisoActivado -= ManejarAvisos;
    }

    private string IconoAviso => _tipoClase switch
    {
        "warning" => "⚠",
        "info" => "ℹ",
        "success" => "✅",
        "danger" => "❌",
        _ => "⚠"
    };


}