@page "/administracion/avisos"

@inherits ContextProtegido

@attribute [Authorize]

@if (!UsuarioCargado || ValidandoPermisos || TienePermiso == null)
{
    @* Estado: Cargando usuario o validando permisos *@
}
else if (TienePermiso == false)
{
    <AccesoDenegado Titulo="@TituloPagina" />
}
else
{
    <PageHeader CodigoMenu="@CodigosMenu.Avisos" Titulo="@TituloPagina" TextoToolTipAyuda="@ObtenerTexto(TextosApp.Pages.Avisos.ToolTip)" />

    <div class="layoutContainer">
        <div class="mb-3">
            <label for="mensaje" class="form-label">@ObtenerTexto(TextosApp.Pages.Avisos.Mensaje)</label>
            <textarea id="mensaje" class="@ClaseTextArea" rows="5" @bind="Mensaje"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label d-block">@ObtenerTexto(TextosApp.Pages.Avisos.TipoAviso)</label>

            <div class="radio-card @ClaseMarco">
                <InputRadioGroup @bind-Value="TipoAviso">
                    <div class="form-check">
                        <InputRadio class="form-check-input" Value="TiposDeAviso.Info" id="avisoInfo" />
                        <label class="form-check-label" for="avisoInfo">Info</label>
                    </div>
                    <div class="form-check">
                        <InputRadio class="form-check-input" Value="TiposDeAviso.Warning" id="avisoAdvertencia" />
                        <label class="form-check-label" for="avisoAdvertencia">Advertencia</label>
                    </div>
                    <div class="form-check">
                        <InputRadio class="form-check-input" Value="TiposDeAviso.Error" id="avisoError" />
                        <label class="form-check-label" for="avisoError">Error</label>
                    </div>
                </InputRadioGroup>
            </div>
        </div>

        <DxButton CssClass="btnCustom"
            RenderStyle=ButtonRenderStyle.None
            IconCssClass="fa-solid fa-paper-plane"
            Text="@ObtenerTexto(TextosApp.Botones.Enviar)"
            Click="EnviarAvisoAsync" />
    </div>
}


