@page "/administracion/avisos"

@using HM.Presupuestos.Domain.Compartido
@using HM.Presupuestos.Web.Componentes.Base

@inherits ContextProtegido

@attribute [Authorize]

@if (!UsuarioCargado || ValidandoPermisos || TienePermiso == null)
{
    @* Estado: Cargando usuario o validando permisos *@
}
else if (TienePermiso == false)
{
    @* Estado: usuario sin permisos *@
}
else
{
    <PageTitle>@ObtenerTexto($"Menu:Menu_{(int)CodigosMenu.Avisos}:label")</PageTitle>
    <PageHeader CodigoMenu="@CodigosMenu.Avisos" Titulo="@ObtenerTexto(AppResources.Menu.ObtenerEtiqueta((int)CodigosMenu.Avisos))" TextoToolTipAyuda="@ObtenerTexto(AppResources.Pages.Avisos.ToolTip)" />

    <div class="layoutContainer">
        <div class="mb-3">
            <label for="mensaje" class="form-label">@ObtenerTexto(AppResources.Pages.Avisos.Mensaje)</label>
            <textarea id="mensaje" class="@ClseTextArea" rows="5" @bind="_mensaje"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label d-block">@ObtenerTexto(AppResources.Pages.Avisos.TipoAviso)</label>

            <div class="radio-card @ClaseMarco">
                <InputRadioGroup @bind-Value="TipoAviso">
                    <div class="form-check">
                        <InputRadio class="form-check-input" Value="TiposDeAviso.Info" id="avisoInfo" />
                        <label class="form-check-label" for="avisoInfo">Info</label>
                    </div>
                    <div class="form-check">
                        <InputRadio class="form-check-input" Value="TiposDeAviso.Warning" id="avisoAdvertencia" />
                        <label class="form-check-label" for="avisoAdvertencia">Advertencia</label>
                    </div>
                    <div class="form-check">
                        <InputRadio class="form-check-input" Value="TiposDeAviso.Error" id="avisoError" />
                        <label class="form-check-label" for="avisoError">Error</label>
                    </div>
                </InputRadioGroup>
            </div>
        </div>

        <DxButton CssClass="btnCustom"
            RenderStyle=ButtonRenderStyle.None
            IconCssClass="fa-solid fa-paper-plane"
            Text="@ObtenerTexto(AppResources.Botones.Enviar)"
            Click="EnviarAviso" />
    </div>
}


