@page "/mantenimiento/indicadores"

@attribute [Authorize]

@inherits ContextProtegido


@* @if (ValidandoPermisos)
{
    <p>Validando permisos...</p>
}
else if (!TienePermiso)
{
    <p>No autorizado</p>
} *@
@if (!UsuarioCargado || ValidandoPermisos || TienePermiso == null)
{
    @* Estado: Cargando usuario o validando permisos *@
   @*  <div class="text-center p-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <p class="mt-3">
            @if (!UsuarioCargado)
            {
                <text>Cargando usuario...</text>
            }
            else
            {
                <text>Validando permisos para @TituloPagina...</text>
            }
        </p>
    </div> *@
}
else if (TienePermiso == false)
{
    @* Estado: usuario sin permisos *@
    <div class="alert alert-danger text-center m-5" role="alert">
        <h4 class="alert-heading">❌ Acceso Denegado</h4>
        <p>No tiene permisos para acceder a <strong>@TituloPagina</strong>.</p>
        <hr>
        <p class="mb-0">Contacte al administrador si cree que debería tener acceso.</p>
    </div>
}
else
{
    <PageHeader CodigoMenu="@CodigosMenu.Indicadores" Titulo="@TituloPagina" TextoToolTipAyuda="@T(AppResources.Pages.Indicadores.ToolTip)"  />
    <div class="layoutContainer">
        <DxFormLayout>
            <DxFormLayoutGroup ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12" Enabled="true" Caption="@T(AppResources.Pages.Indicadores.ListaIndicadores)">
                <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12" Context="formLayout">
                    @* GRID INDICADORES *@
                    <DxGrid @ref="GridIndicadores"
                            Data="DatosIndicadores"
                            ShowFilterRow="true"
                            KeyFieldName="Codigo"
                            SelectionMode="GridSelectionMode.Single"
                            ValidationEnabled="false"
                            ColumnResizeMode="GridColumnResizeMode.NextColumn"
                            TextWrapEnabled="false"
                            VirtualScrollingEnabled="false"
                            FocusedRowEnabled="true"
                            RowDoubleClick="GridIndicadores_DoubleClick"
                            HighlightRowOnHover="true"
                            PageSizeSelectorVisible="true"
                            PageSizeSelectorItems="@(new int[] { 10, 25, 50 })"
                            PageSize="50">
                        <ToolbarTemplate>
                            <div class="d-flex justify-content-start">
                                <DxButton CssClass="toolbarButtonCustom"
                                          RenderStyle="ButtonRenderStyle.None"
                                          Text="@T(AppResources.Common.Nuevo)"
                                          Click="NuevoIndicadorAsync"
                                          IconCssClass="fa-solid fa-plus" />
                            </div>
                        </ToolbarTemplate>
                        <Columns>
                            <DxGridDataColumn FieldName="@nameof(Indicador.Codigo)" 
                                            Caption="@T(AppResources.Common.Codigo)" 
                                            Width="7%" 
                                            DataRowEditorVisible="false" 
                                            ReadOnly="true" 
                                            CaptionAlignment="GridTextAlignment.Right" />
                            
                            <DxGridDataColumn FieldName="@nameof(Indicador.Descripcion)" 
                                            Caption="@T(AppResources.Common.Descripcion)" 
                                            Width="auto" 
                                            CaptionAlignment="GridTextAlignment.Left" 
                                            TextAlignment="GridTextAlignment.Left" />
                            
                            <DxGridDataColumn FieldName="@nameof(Indicador.Orden)" 
                                            Caption="@T(AppResources.Common.Orden)" 
                                            Width="7%" 
                                            DataRowEditorVisible="false" 
                                            ReadOnly="true" 
                                            TextAlignment="GridTextAlignment.Right" 
                                            CaptionAlignment="GridTextAlignment.Right" />
                            
                            <DxGridDataColumn FieldName="@nameof(Indicador.BitAnd)" 
                                            Caption="@T(AppResources.Common.BitAnd)" 
                                            Width="7%" 
                                            ReadOnly="true" 
                                            TextAlignment="GridTextAlignment.Right" 
                                            CaptionAlignment="GridTextAlignment.Right" />
                            
                            <DxGridDataColumn FieldName="@nameof(Indicador.IndMostrar)" 
                                            Caption="@T(AppResources.Pages.Indicadores.Mostrar)" 
                                            Width="10%" 
                                            DataRowEditorVisible="false" 
                                            ReadOnly="true" 
                                            CaptionAlignment="GridTextAlignment.Center" 
                                            TextAlignment="GridTextAlignment.Center" />
                            
                            <DxGridDataColumn FieldName="@nameof(Indicador.IndVersionUnica)" 
                                            Caption="@T(AppResources.Pages.Indicadores.VersionUnica)" 
                                            Width="20%" 
                                            DataRowEditorVisible="false" 
                                            ReadOnly="true" 
                                            CaptionAlignment="GridTextAlignment.Center" 
                                            TextAlignment="GridTextAlignment.Center" />

                            <DxGridCommandColumn Width="5%" NewButtonVisible="false" CaptionAlignment="GridTextAlignment.Center" TextAlignment="GridTextAlignment.Center">
                                <FilterRowCellTemplate>
                                    @* vacío = no se muestra filtro *@
                                </FilterRowCellTemplate>
                                <CellDisplayTemplate>
                                    <div>
                                        <DxButton IconCssClass="fa fa-edit"
                                        RenderStyle="ButtonRenderStyle.Link"
                                        title="@T(AppResources.Common.EditarRegistro)"
                                        aria-label="Editar"
                                        Enabled="true"
                                        Click="() => EditarIndicadorAsync((Indicador)context.DataItem)" />
                                    </div>
                                </CellDisplayTemplate>
                            </DxGridCommandColumn>

                            <DxGridCommandColumn Width="5%" NewButtonVisible="false" CaptionAlignment="GridTextAlignment.Center" TextAlignment="GridTextAlignment.Center">
                                <FilterRowCellTemplate>
                                    @* vacío = no se muestra filtro *@
                                </FilterRowCellTemplate>
                                <CellDisplayTemplate>
                                    <div>
                                        <DxButton IconCssClass="fa fa-trash"
                                        RenderStyle="ButtonRenderStyle.Link"
                                        title="@T(AppResources.Common.EliminarRegistro)"
                                        aria-label="Eliminar"
                                        Enabled="true"
                                        Click="() => EliminarIndicadorAsync((Indicador)context.DataItem)" />
                                    </div>
                                </CellDisplayTemplate>
                            </DxGridCommandColumn>
                        </Columns>
                    </DxGrid>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>         
        </DxFormLayout>

        @* POPUP EDIT *@
        <DxPopup Visible="@EsPopupEdicionVisible"
                 ShowFooter="true"
                 HeaderText="@T(AppResources.Common.Detalle)"
                 ShowCloseButton="false"
                 Width="60%"
                 Height="Auto"
                 CloseOnEscape="false"
                 CloseOnOutsideClick="false"
                 AllowDrag="false"
                 AllowDragByHeaderOnly="false">
            <BodyContentTemplate Context="popupContext">
                <DxFormLayout>
                    <DxFormLayoutItem ColSpanSm="12" ColSpanMd="10" ColSpanLg="10" ColSpanXl="10" ColSpanXxl="10" 
                    CaptionPosition="CaptionPosition.Vertical">
                        <CaptionTemplate>
                            <span>@T(AppResources.Common.Descripcion)</span><span class="mandatory"></span>
                        </CaptionTemplate>
                        <Template>
                            <DxTextBox @bind-Text="@IndicadorEnEdicion.Descripcion"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            BindValueMode="BindValueMode.OnInput"
                            Enabled="true" />
                        </Template>                                        
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanSm="3" ColSpanMd="2" ColSpanLg="2" ColSpanXl="2" ColSpanXxl="2" BeginRow="true"
                    CaptionPosition="CaptionPosition.Vertical">
                        <CaptionTemplate>
                            <span>@T(AppResources.Common.Orden)</span><span class="mandatory"></span>
                        </CaptionTemplate>
                        <Template>
                            <DxMaskedInput @bind-Value="@IndicadorEnEdicion.Orden"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            BindValueMode="BindValueMode.OnInput"
                            InputCssClass="text-box-align-right"
                            Enabled="true"
                            Mask="@NumericMask.WholeNumber" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanSm="3" ColSpanMd="2" ColSpanLg="2" ColSpanXl="2" ColSpanXxl="2"
                    CaptionPosition="CaptionPosition.Vertical">
                        <CaptionTemplate>
                            <span>@T(AppResources.Common.BitAnd)</span>
                        </CaptionTemplate>
                        <Template>
                            <DxMaskedInput @bind-Value="@IndicadorEnEdicion.BitAnd"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                            BindValueMode="BindValueMode.OnInput"
                            InputCssClass="text-box-align-right"
                            Enabled="false"
                            Mask="@NumericMask.WholeNumber"
                            InputId="CajaBitAndDetalle" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanSm="3" ColSpanMd="2" ColSpanLg="2" ColSpanXl="2" ColSpanXxl="2"
                    Caption="@T(AppResources.Pages.Indicadores.Mostrar)"
                    CaptionPosition="CaptionPosition.Vertical"
                    CssClass="horizontal-centered">
                        <DxCheckBox @bind-Checked="@IndicadorEnEdicion.IndMostrar" Alignment="CheckBoxContentAlignment.Center" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanSm="3" ColSpanMd="2" ColSpanLg="2" ColSpanXl="2" ColSpanXxl="2"
                    Caption="@T(AppResources.Pages.Indicadores.VersionUnica)"
                    CaptionPosition="CaptionPosition.Vertical" 
                    CssClass="horizontal-centered">
                        <DxCheckBox @bind-Checked="@IndicadorEnEdicion.IndVersionUnica" Alignment="CheckBoxContentAlignment.Center" />
                    </DxFormLayoutItem>
                    <DxFormLayoutItem CssClass="emptyrow"></DxFormLayoutItem>
                </DxFormLayout>

                <DxFormLayout>
                    <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12">
                        <ChildContent Context="formLayoutContext">
                            <DxGrid @ref="GridIdiomasIndicador"
                            FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                            Data="IndicadorEnEdicion.Idiomas"
                            EditModelSaving="GridIdiomasIndicador_EditModelSaving"
                            EditMode="GridEditMode.EditCell"
                            CustomizeElement="GridIdiomasIndicador_CustomizeElement"
                            CustomizeDataRowEditor="GridIdiomasIndicador_CustomizeDataRowEditor">
                                <ToolbarTemplate>
                                    <div class="d-flex justify-content-start">
                                        <DxButton CssClass="toolbarButtonCustom"
                                        RenderStyle="ButtonRenderStyle.None"
                                        Text="@T(AppResources.Common.Nuevo)"
                                        Click="AgregarIdiomaAsync"
                                        IconCssClass="fa-solid fa-plus" />
                                    </div>
                                </ToolbarTemplate>
                                <Columns>
                                    <DxGridDataColumn FieldName="@nameof(IdiomaIndicador.CodigoIdioma)" 
                                                    Caption="@T(AppResources.Common.Idioma)" 
                                                    Width="15%" 
                                                    CaptionAlignment="GridTextAlignment.Left" 
                                                    TextAlignment="GridTextAlignment.Left">
                                        <EditSettings>
                                            <DxComboBoxSettings Data="@Idiomas"
                                            ValueFieldName="@nameof(Idioma.CodigoIdioma)"
                                            TextFieldName="@nameof(Idioma.Descripcion)"
                                            EditFormat="{1} {2}">
                                                <Columns>
                                                    <DxListEditorColumn FieldName="@nameof(Idioma.Descripcion)" 
                                                                      Caption="@T(AppResources.Common.Descripcion)" />
                                                </Columns>
                                            </DxComboBoxSettings>
                                        </EditSettings>
                                    </DxGridDataColumn>
                                    <DxGridDataColumn FieldName="@nameof(IdiomaIndicador.Descripcion)" 
                                                    Caption="@T(AppResources.Common.Descripcion)" 
                                                    CaptionAlignment="GridTextAlignment.Left" 
                                                    TextAlignment="GridTextAlignment.Left" />
                                    
                                    <DxGridDataColumn FieldName="@nameof(IdiomaIndicador.DescripcionAbreviada)" 
                                                    Caption="@T(AppResources.Common.DescripcionAbreviada)" 
                                                    Width="20%" 
                                                    CaptionAlignment="GridTextAlignment.Left" 
                                                    TextAlignment="GridTextAlignment.Left" />
                                    
                                    <DxGridDataColumn FieldName="@nameof(IdiomaIndicador.Leyenda)" 
                                                    Caption="@T(AppResources.Common.Leyenda)" 
                                                    Width="20%" 
                                                    CaptionAlignment="GridTextAlignment.Left" 
                                                    TextAlignment="GridTextAlignment.Left" />
                                    <DxGridCommandColumn Width="5%" NewButtonVisible="false" CaptionAlignment="GridTextAlignment.Center" TextAlignment="GridTextAlignment.Center">
                                        <CellDisplayTemplate>
                                            <div>
                                                <DxButton IconCssClass="fa fa-trash"
                                                RenderStyle="ButtonRenderStyle.Link" 
                                                aria-label="Eliminar"
                                                title="@T(AppResources.Common.EliminarRegistro)"
                                                Click="@(() => EliminarIdioma(context.DataItem))" />
                                            </div>
                                        </CellDisplayTemplate>
                                        <CellEditTemplate>
                                            <div>
                                                <DxButton Enabled="false"
                                                aria-label="Eliminar"
                                                IconCssClass="fa fa-trash"
                                                RenderStyle=ButtonRenderStyle.Link
                                                />
                                            </div>
                                        </CellEditTemplate>
                                    </DxGridCommandColumn> 
                                </Columns>
                            </DxGrid>
                        </ChildContent>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </BodyContentTemplate>
            <FooterContentTemplate>
                <div class="popupFooter">
                    <DxButton CssClass="btnCustom"
                    RenderStyle="ButtonRenderStyle.None"
                    Text="@T(AppResources.Botones.Grabar)"
                    Click="GuardarEdicionIndicadorAsync"
                    IconCssClass="fa-solid fa-save" />
                    
                    <DxButton CssClass="btnCustom"
                    RenderStyle="ButtonRenderStyle.None"
                    Text="@T(AppResources.Common.Cancelar)"
                    Click="CancelarEdicionIndicadorAsync"
                    IconCssClass="fa-solid fa-cancel" />
                </div>
            </FooterContentTemplate>
        </DxPopup>
    </div>
}

