@page "/mantenimiento/versiones"
@using HM.Presupuestos.Server.Servicios

@using Version = HM.Presupuestos.Domain.Entidades.Version

@inherits ContextProtegido

@* @inject Context UserContext *@
@attribute [Authorize]
@attribute [StreamRendering(true)]


@if (!UsuarioCargado || ValidandoPermisos || TienePermiso == null)
{
    @* Estado: Cargando usuario o validando permisos *@
    @*  <div class="text-center p-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
        <p class="mt-3">
            @if (!UsuarioCargado)
            {
                <text>Cargando usuario...</text>
            }
            else
            {
                <text>Validando permisos para @TituloPagina...</text>
            }
        </p>
    </div> *@
}
else if (TienePermiso == false)
{
    @* Estado: usuario sin permisos *@
    <div class="alert alert-danger text-center m-5" role="alert">
        <h4 class="alert-heading">❌ Acceso Denegado</h4>
        <p>No tiene permisos para acceder a <strong>@TituloPagina</strong>.</p>
        <hr>
        <p class="mb-0">Contacte al administrador si cree que debería tener acceso.</p>
    </div>
}

else
{
    <PageHeader CodigoMenu="@CodigosMenu.Versiones" Titulo="@TituloPagina" TextoToolTipAyuda="@ObtenerTexto(AppResources.Pages.GestionVersiones.ToolTip)" />

    <div class="layoutContainer">
        @* FILTER *@
        <DxFormLayout>
            <DxFormLayoutGroup CssClass="filterContainer"
                               Caption="@ObtenerTexto("common:filtros:label")"
                               ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start"
                               AnimationType="LayoutAnimationType.Slide">
                <DxFormLayoutItem ColSpanSm="4" ColSpanMd="2" ColSpanLg="2" ColSpanXl="2" ColSpanXxl="2"
                                  Caption="@($"{ObtenerTexto("common:anio:label")}")"
                                  CaptionPosition="CaptionPosition.Vertical">
                    <DxComboBox Data="@_listYear"
                                Enabled="@(JsonSerializer.Serialize(_listVersion)==JsonSerializer.Serialize(_listOriginVersion))"
                                TextFieldName=@nameof(CodigoDescripcion.Descripcion)
                                ValueFieldName=@nameof(CodigoDescripcion.Codigo)
                                SearchMode="@ListSearchMode.AutoSearch"
                                SearchFilterCondition="@ListSearchFilterCondition.Contains"
                                @bind-Value="@ItemYearSelected"
                                SelectedDataItemChanged="(SelectedDataItemChangedEventArgs<CodigoDescripcion> args) => Param_Year_SelectedDataItemChanged(args)">
                        <EditBoxDisplayTemplate Context="contexto">
                            @ListasTemplateHelper.GetComboBoxEditBoxTemplate(contexto.DataItem)
                        </EditBoxDisplayTemplate>
                    </DxComboBox>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayout>
        @* GRID VERSIONES *@
        <DxFormLayout>
            <DxFormLayoutGroup Caption="@ObtenerTexto("Pages:Versiones:Versiones:label")" ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12">
                <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12" Context="formLayout">
                    <DxGrid @ref="GridVersiones"
                            Data="_listVersion"
                            KeyFieldName="Codigo"
                            ValidationEnabled="true"
                            ShowFilterRow="true"
                            EditMode="GridEditMode.EditCell"
                            EditModelSaving="GridVersiones_EditModelSaving"
                            CustomizeElement="GridVersiones_CustomizeElement"
                            ColumnResizeMode="GridColumnResizeMode.NextColumn"
                            CustomizeDataRowEditor="GridVersiones_CustomizeDataRowEditor"
                            TextWrapEnabled="false"
                            HighlightRowOnHover="true"
                            PageSizeSelectorVisible="false">
                        <ToolbarTemplate>
                            <div class="d-flex justify-content-start">
                                <DxButton CssClass="toolbarButtonCustom"
                                          RenderStyle=ButtonRenderStyle.None
                                          Text="@ObtenerTexto("common:Nuevo:label")"
                                          Click="OnNuevaVersion"
                                          Enabled="@(_listVersion.Find(x => x.Codigo == 0)==null)"
                                          IconCssClass="fa-solid fa-plus" />
                            </div>
                            <div class="d-flex justify-content-start">
                                <DxButton CssClass="toolbarButtonCustom"
                                          RenderStyle=ButtonRenderStyle.None
                                          Text="@ObtenerTexto("common:Cancelar:label")"
                                          Click="OnCancelarVersion"
                                          IconCssClass="fa-solid fa-cancel"
                                          Enabled="@(JsonSerializer.Serialize(_listVersion)!=JsonSerializer.Serialize(_listOriginVersion))" />
                            </div>
                        </ToolbarTemplate>
                        <Columns>
                            <DxGridDataColumn FieldName="@nameof(Version.Codigo)"
                                              FilterRowEditorVisible="false"
                                              Caption="@ObtenerTexto("common:Codigo:label")"
                                              Width="5%"
                                              ReadOnly="true"
                                              CaptionAlignment="GridTextAlignment.Right"
                                              TextAlignment="GridTextAlignment.Right"
                                              DataRowEditorVisible="false">
                                <FilterRowCellTemplate>
                                </FilterRowCellTemplate>
                                <CellDisplayTemplate>
                                    <span class="dxgrid-readonly-cell">@context.DisplayText</span>
                                </CellDisplayTemplate>
                            </DxGridDataColumn>

                            <DxGridDataColumn FieldName="@nameof(Version.Orden)" FilterRowEditorVisible="false" Caption="@ObtenerTexto("common:Orden:label")" Width="6%" CaptionAlignment="GridTextAlignment.Right" TextAlignment="GridTextAlignment.Right"
                                              SortIndex="0" SortOrder="GridColumnSortOrder.Descending">
                                <FilterRowCellTemplate>
                                </FilterRowCellTemplate>
                            </DxGridDataColumn>

                            <DxGridDataColumn FieldName="@nameof(Version.Descripcion)"
                                              FilterRowEditorVisible="true"
                                              Caption="@ObtenerTexto("Pages:Versiones:Version:label")"
                                              CaptionAlignment="GridTextAlignment.Left"
                                              TextAlignment="GridTextAlignment.Left" />


                            <DxGridDataColumn FieldName="@nameof(Version.Mes)" FilterRowEditorVisible="false" Caption="@ObtenerTexto("common:Mes:label")" Width="7%" CaptionAlignment="GridTextAlignment.Left" TextAlignment="GridTextAlignment.Left">
                                <FilterRowCellTemplate>
                                </FilterRowCellTemplate>
                                <CellDisplayTemplate>
                                    @_listMonth.FirstOrDefault(option => option.Codigo == (context.Value == null ? -1 : (int)context.Value))?.Descripcion
                                </CellDisplayTemplate>
                                <CellEditTemplate>
                                    @{
                                        var version = (Version)context.EditModel;
                                    }
                                    <DxComboBox Data="@_listMonth"
                                                TextFieldName=@nameof(CodigoDescripcion.Descripcion)
                                                ValueFieldName=@nameof(CodigoDescripcion.Codigo)
                                                @bind-Value="@version.Mes" />
                                </CellEditTemplate>
                            </DxGridDataColumn>
                            <DxGridBandColumn Caption="@ObtenerTexto("Pages:Versiones:Indicadores:label")" Width="60%" CaptionAlignment="GridTextAlignment.Center">
                                <Columns>
                                    @{
                                        @if (_listVersion.Any())
                                        {
                                            var columnIndicadorWidth = (60 / _listMasterIndicador.Count).ToString() + "%";
                                            foreach (var indicadorVersion in _listVersion.First().IndicadorList)
                                            {
                                                var itemMasterIndicador = _listMasterIndicador.FirstOrDefault(x => x.Codigo == indicadorVersion.Codigo);
                                                if (itemMasterIndicador != null)
                                                {
                                                    <DxGridDataColumn Caption="@($"Indicador_{itemMasterIndicador.Codigo}")" ReadOnly="false" Width="@columnIndicadorWidth"
                                                                      Visible="@itemMasterIndicador.IndMostrar" FilterRowEditorVisible="false"
                                                                      CaptionAlignment="GridTextAlignment.Center" TextAlignment="GridTextAlignment.Center">
                                                        <FilterRowCellTemplate>
                                                        </FilterRowCellTemplate>
                                                        <HeaderCaptionTemplate>
                                                            <span title="@itemMasterIndicador.Leyenda">
                                                                @itemMasterIndicador.DescripcionAbreviada
                                                            </span>
                                                        </HeaderCaptionTemplate>
                                                        <CellDisplayTemplate>
                                                            @if (context.DataItem is Version version)
                                                            {
                                                                var item = version.IndicadorList.FirstOrDefault(x => x.Codigo == itemMasterIndicador.Codigo);
                                                                bool estadoCheck = item?.Estado ?? false;

                                                                <DxCheckBox Checked="@estadoCheck"
                                                                            ReadOnly="false" ValidationEnabled="false"
                                                                            CheckedChanged="@((bool? newValue) => CheckboxIndicadorCheckedChanged( newValue, version.Codigo ,indicadorVersion.Codigo))" />
                                                            }
                                                        </CellDisplayTemplate>
                                                    </DxGridDataColumn>
                                                }
                                            }
                                        }
                                    }
                                </Columns>
                            </DxGridBandColumn>

                            <DxGridDataColumn FieldName="@nameof(Version.CodigoTipo)" FilterRowEditorVisible="false" Caption="@ObtenerTexto("Pages:Versiones:Tipo:label")" Width="8%"
                                              TextAlignment="GridTextAlignment.Left" CaptionAlignment="GridTextAlignment.Left">
                                <FilterRowCellTemplate>
                                </FilterRowCellTemplate>
                                <CellDisplayTemplate>
                                    @_listTipoVersion.FirstOrDefault(option => option.Codigo == (context.Value == null ? -1 : (int)context.Value))?.Descripcion
                                </CellDisplayTemplate>
                                <CellEditTemplate>
                                    @{
                                        var version = (Version)context.EditModel;
                                        var isReadOnly = version?.IsDataLinked == true;
                                    }
                                    @if (isReadOnly)
                                    {
                                        <span>
                                            @_listTipoVersion.FirstOrDefault(option => option.Codigo == version?.CodigoTipo)?.Descripcion
                                        </span>
                                    }
                                    else
                                    {
                                        <DxComboBox Data="@_listTipoVersion"
                                                    TextFieldName=@nameof(CodigoDescripcion.Descripcion)
                                                    ValueFieldName=@nameof(CodigoDescripcion.Codigo)
                                                    @bind-Value="@version!.CodigoTipo" />
                                    }
                                </CellEditTemplate>
                            </DxGridDataColumn>

                            <DxGridCommandColumn Width="5%" NewButtonVisible="false">
                                <FilterRowCellTemplate></FilterRowCellTemplate>
                                <CellDisplayTemplate>
                                    @{
                                        var version = (Version)context.DataItem;
                                        var isReadOnly = version?.IsDataLinked == true;
                                    }
                                    <div class="grid-cell-align-center">
                                        <DxButton IconCssClass="fas fa-trash"
                                                  Disabled="@isReadOnly"
                                                  RenderStyle="ButtonRenderStyle.Link"
                                                  aria-label="Delete"
                                                  title="@(isReadOnly
                                                                                                                                                ? ObtenerTexto("Pages:Versiones:HayDatosRelacionadosConLaVersion:label")
                                                                                                        : ObtenerTexto("common:EliminarRegistro:label"))"
                                                  Click="@(() => OnEliminarVersion(context.DataItem))" />
                                    </div>

                                </CellDisplayTemplate>
                                <CellEditTemplate>
                                    <div class="grid-cell-align-center">
                                        <DxButton Enabled="false"
                                                  aria-label="Delete"
                                                  CssClass="grid-disabled-button"
                                                  IconCssClass="fas fa-trash"
                                                  RenderStyle="ButtonRenderStyle.Link" />
                                    </div>
                                </CellEditTemplate>
                            </DxGridCommandColumn>

                        </Columns>
                    </DxGrid>
                </DxFormLayoutItem>
                <DxFormLayoutItem BeginRow="true"></DxFormLayoutItem>
                <DxFormLayoutItem ColSpanSm="4" ColSpanMd="3" ColSpanLg="2" ColSpanXl="2" ColSpanXxl="2" BeginRow="true">
                    <div class="d-flex justify-content-start">
                        <div class="d-flex justify-content-start">
                            <DxButton CssClass="toolbarButtonCustom"
                                      RenderStyle=ButtonRenderStyle.None
                                      Text="@ObtenerTexto("botones:Grabar:label")"
                                      Click="SaveVersionData"
                                      IconCssClass="fa-solid fa-save"
                                      Enabled="true" />
                        </div>
                    </div>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayout>

        <DxFormLayout>
            <DxFormLayoutGroup Caption="@ObtenerTexto("Pages:Versiones:LeyendasIndicadores:label")" ExpandButtonDisplayMode="GroupExpandButtonDisplayMode.Start" AnimationType="LayoutAnimationType.Slide">
                <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12">
                    <ChildContent Context="formLayoutContext">
                        <DxGrid @ref="_GridLeyendas" Data="_listMasterIndicador.Where(c => c.IndMostrar)" PageSize="20"
                                CustomizeElement="GridLeyendas_CustomizeElement">
                            <Columns>
                                <DxGridDataColumn FieldName="@nameof(Indicador.Descripcion)" Caption="@ObtenerTexto("Pages:Versiones:NombreIndicador:label")" Width="25%" CaptionAlignment="GridTextAlignment.Left" TextAlignment="GridTextAlignment.Left" />
                                <DxGridDataColumn FieldName="@nameof(Indicador.DescripcionAbreviada)" Caption="@ObtenerTexto("common:DescripcionAbreviada:label")" Width="15%" CaptionAlignment="GridTextAlignment.Left" TextAlignment="GridTextAlignment.Left" />
                                <DxGridDataColumn FieldName="@nameof(Indicador.Leyenda)" Caption="@ObtenerTexto("common:Descripcion:label")" CaptionAlignment="GridTextAlignment.Left" TextAlignment="GridTextAlignment.Left" />
                            </Columns>
                        </DxGrid>
                    </ChildContent>
                </DxFormLayoutItem>
            </DxFormLayoutGroup>
        </DxFormLayout>
    </div>
}


@code {

   

}

