@page "/administracion/impersonacion"

@using Microsoft.AspNetCore.Components.Authorization
@using HM.Core.Comun.v6.Entidades.Seguridad
@using HM.Core.Comun.v6.Seguridad.Interfaces
@using HM.Core.Modelo.v6.Login
@using System.Security.Claims

@inject IConfiguration _Configuration
@inject IControlador _SecurityController
@inject IJwt _Jwt
@inject NavigationManager _NavigationManager
@inject IAlmacenSesionUsuario AlmacenSesionUsuario
@inject ILogAccionesService _LogAccionesService
@inject DialogoErrores _ErrorService
@inject ILayerOverlayService _LayerOverlayService
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject ISesionUsuario _SesionUsuario

@inherits ContextProtegido

@attribute [Authorize]

@if (ValidandoPermisos)
{
    @* <p>Validando permisos...</p> *@
}
else if (TienePermiso == false)
{
    <p>No autorizado</p>
}

else
{
    <PageTitle>@TituloPagina</PageTitle>
    <PageHeader CodigoMenu="@CodigosMenu.Impersonacion" Titulo="@TituloPagina" TextoToolTipAyuda="@_textoToolTipAyuda" />
    <div class="layoutContainer">
        <DxFormLayout>
            <DxFormLayoutGroup ColSpanSm="6" ColSpanMd="6" ColSpanLg="4" ColSpanXl="4" ColSpanXxl="4">
                <Items>
                    <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12" 
                    CaptionPosition="CaptionPosition.Vertical" Context="formLayout">
                        <CaptionTemplate>
                            <div>@ObtenerTexto(AppResources.Pages.Impersonation.Description)</div>
                        </CaptionTemplate>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12" 
                    CaptionPosition="CaptionPosition.Vertical" Context="formLayout" BeginRow="true">
                        <Template>
                            <span style="color:red;">@_message</span>
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12" 
                    CaptionPosition="CaptionPosition.Vertical" Context="formLayout" BeginRow=" true">
                        <DxTextBox @bind-Text="@_userNameImpersonation"
                        NullText="@ObtenerTexto(AppResources.Pages.Impersonation.UserName)"
                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                        </DxTextBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12"
                    CaptionPosition="CaptionPosition.Vertical" Context="formLayout" BeginRow=" true">
                        <DxTextBox @bind-Text="@_passwordImpersonation"
                        NullText="@ObtenerTexto(AppResources.Pages.Impersonation.Password)"
                        Password="true"
                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto">
                        </DxTextBox>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanSm="12" ColSpanMd="12" ColSpanLg="12" ColSpanXl="12" ColSpanXxl="12" 
                    CaptionPosition="CaptionPosition.Vertical" Context="formLayout" BeginRow="true">
                        <div class="d-flex justify-content-center">
                            <DxButton CssClass="btnCustom"
                            RenderStyle=ButtonRenderStyle.None
                            Text="@ObtenerTexto(AppResources.Common.Aceptar)"
                            Click="OnImpersonarConLogin" ClickEventArgs="true" /> @* para que acepte MouseEventArgs *@
                        </div>
                    </DxFormLayoutItem>
                </Items>
            </DxFormLayoutGroup>
            <DxFormLayoutItem ColSpanSm="6" ColSpanMd="6" ColSpanLg="8" ColSpanXl="8" ColSpanXxl="8" />
        </DxFormLayout>
    </div>
}

@code {

    private string _textoToolTipAyuda { get; set; } = string.Empty;
    private string _userNameImpersonation { get; set; } = "";
    private string _passwordImpersonation { get; set; } = "";
    private string _message { get; set; } = "";
    private UsuarioEntidad _userAuthenticated = new UsuarioEntidad();

    #region Page
    // protected override CodigosMenu CodigoMenuPermiso => CodigosMenu.Indicadores;

    protected override Task OnPermisoDenegadoAsync()
    {
        Console.WriteLine("? Permiso denegado");
        return Task.CompletedTask;
    }

    protected override async Task InicializarPaginaAsync()
    {
        _textoToolTipAyuda = ObtenerTexto(AppResources.Pages.Impersonation.ToolTip);
    }


    #endregion



    private async Task OnImpersonarConLogin(MouseEventArgs e)
    {
        await EjecutarAsync(async () =>
        {
            _message = "";
            _userNameImpersonation = (_userNameImpersonation != null) ? _userNameImpersonation.Replace(" ", "") : "";

            //Para las pruebas de seguridad en entornos distintos a PRO
            if (_Configuration.GetValue<string>("AppSettings:AppEnvironment") != Constantes.Environment.PRO)
            {
                if (e.CtrlKey && e.AltKey && (Usuario!.CodigoUsuario == 2825 || Usuario!.CodigoUsuario == 1182))
                {
                    _userNameImpersonation = "probar.acceso";
                    _passwordImpersonation = "ccc";
                }
            }

            if (!String.IsNullOrEmpty(_userNameImpersonation) && !String.IsNullOrEmpty(_passwordImpersonation))
            {
                if (_userAuthenticated.Login != _userNameImpersonation)
                {
                    var respuesta = await _SesionUsuario.AutenticarUsuarioPorLoginAsync(_userNameImpersonation, _passwordImpersonation);
                    if (respuesta)
                    {
                        _NavigationManager.NavigateTo("/home", forceLoad: false);
                    }
                    else
                    {
                        _message = ObtenerTexto(AppResources.Pages.Impersonation.UsuarioNoAutorizado);
                    }
                }
                else
                {
                    _message = ObtenerTexto(AppResources.Pages.Impersonation.UsuarioImpersonadoIgual);
                }
            }
            else
            {
                _message = ObtenerTexto(AppResources.Pages.Impersonation.RellenarDatosUsuario);
            }
        });
    }


}
