

@inherits LayoutComponentBase
@attribute [Authorize]

@* Componente modal para confirmar cambios *@
<ModalControlCambios @ref="ModalConfirmacionCambios" />

@* Para controlar los eventos de navegación *@
<NavigationLock OnBeforeInternalNavigation="@OnBeforeInternalNavigation"></NavigationLock>

@* Modal de advertencia de inactividad *@
<DxPopup @bind-Visible="MostrarAvisoInactividad"
         ShowCloseButton="false" 
         Width="300px" 
         Height="350px"
         HeaderText="@TituloAvisoInactividad"
         CssClass="countdown-popup">
    <ChildContent>
        <div class="countdown-container">
            <h3 class="countdown-title">@TextoCuentaAtras</h3>
            <h1 class="countdown-display">@(TiempoRestante / 1000)</h1>
            <i class="fas fa-hand-paper attention-icon"></i>
        </div>
    </ChildContent>
</DxPopup>

@* Modal de error en inicialización *@
<DxPopup @ref="ErrorPopup"
         HeaderText="@TituloVentanaError"
         Width="400px"
         ShowCloseButton="false"
         CloseOnOutsideClick="false"
         Visible="@MostrarError">
    <div class="p-3">
        <p style="color:red">@MensajeError</p>
        <div class="d-flex justify-content-end mt-3">
            <DxButton RenderStyle="ButtonRenderStyle.Primary"
                      Text="@LocalizadorRecursos.ObtenerTexto(TextosApp.Common.Aceptar)"
                      Click="CerrarPopupError" />
        </div>
    </div>
</DxPopup>

<div class="page">
    <DxGridLayout CssClass="page-layout" Id="Fondo">
        <Rows>
            <DxGridLayoutRow Areas="sidebar header" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="sidebar content"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="footer footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn Width="auto" />
            <DxGridLayoutColumn />
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="header-component">
                <Template>
                   <Cabecera/>
                </Template>
            </DxGridLayoutItem>          
            <DxGridLayoutItem Area="content">
                <Template>
                    <DxDrawer CssClass="demo-drawer"
                              @bind-IsOpen="MenuAbierto"
                              Mode="ModoMenu"
                              Position="PosicionMenu"
                              PanelWidth="auto">
                        <BodyTemplate>
                            <div id="menuContainer" class="menuContainer">
                                <NavMenu />
                            </div>
                        </BodyTemplate>
                        <TargetContent>
                            <ModalAvisos/>
                            <div class="px-3">
                                @Body
                            </div>                                            
                        </TargetContent>
                    </DxDrawer>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="footer" CssClass="footer">
                <Template>
                    <Pie />
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>

    <LayerOverlay />
</div>

@* Para mostrar los diálogos para los mensajes *@
<DxDialogProvider />

