@using DevExpress.Blazor
@using DevExpress.Blazor.Internal

@inherits Context

<div id="sidebar">
    @if (!UsuarioCargado)
    {
       @*  <p>Comprobando permisos...</p> *@
    }
    else
    {
        <DxTreeView AfterExpand="OnMenuExpandido">
            <Nodes>
                <DxTreeViewNode id="menu_0"
                                @onclick="@(() => OnNavegarA(RecursosApp.ObtenerUrlMenu(CodigosMenu.Home)!))"
                                Text="@RecursosApp.ObtenerEtiquetaMenu(CodigosMenu.Home)" 
                                CssClass="menu-item"
                                IconCssClass="@RecursosApp.ObtenerIconoMenu(CodigosMenu.Home)" />
                
                @if (Menu != null && Menu.Count > 0)
                {
                    @foreach (var item in Menu.OrderBy(o => o.IndiceOrdenacion))
                    {
                        @if (item.CodigoMenuPadre == null || item.CodigoMenuPadre <= 0)
                        {
                            var labelMenuItem = RecursosApp.ObtenerEtiquetaMenu((CodigosMenu)item.CodigoMenu);
                            var visibleMenuItemStr = RecursosApp.ObtenerVisibilidadMenu((CodigosMenu)item.CodigoMenu);
                            bool visibleMenuItem = !string.IsNullOrEmpty(visibleMenuItemStr) && 
                                                   (visibleMenuItemStr.Equals("true", StringComparison.OrdinalIgnoreCase) || visibleMenuItemStr == "1");
                            
                            @if (visibleMenuItem && !string.IsNullOrEmpty(labelMenuItem))
                            {
                                <DxTreeViewNode id=@($"menu_{item.CodigoMenu}")
                                                @onclick="@(() => OnNavegarA(RecursosApp.ObtenerUrlMenu((CodigosMenu)item.CodigoMenu)!))"

                                                Text="@labelMenuItem"
                                                IconCssClass="@RecursosApp.ObtenerIconoMenu((CodigosMenu)item.CodigoMenu)" 
                                                CssClass="menu-item">
                                    <Nodes>
                                        @if (item.Submenus != null && item.Submenus.Any())
                                        {
                                            @foreach (var submenuItem in item.Submenus.OrderBy(o => o.IndiceOrdenacion))
                                            {
                                                var labelSubmenuItem = RecursosApp.ObtenerEtiquetaMenu((CodigosMenu)submenuItem.CodigoMenu);
                                                var visibleSubmenuItemStr = RecursosApp.ObtenerVisibilidadMenu((CodigosMenu)submenuItem.CodigoMenu);
                                                bool visibleSubmenuItem = !string.IsNullOrEmpty(visibleSubmenuItemStr) && 
                                                                         (visibleSubmenuItemStr.Equals("true", StringComparison.OrdinalIgnoreCase) || visibleSubmenuItemStr == "1");
                                                
                                                @if (visibleSubmenuItem && !string.IsNullOrEmpty(submenuItem.Url))
                                                { 
                                                    <DxTreeViewNode id=@($"menu_{submenuItem.CodigoMenu}")
                                                                    @onclick="@(() => OnNavegarA(submenuItem.Url))"

                                                                    Text="@labelSubmenuItem"
                                                                    IconCssClass="@RecursosApp.ObtenerIconoMenu((CodigosMenu)submenuItem.CodigoMenu)"
                                                                    CssClass="menu-item" />
                                                } 
                                            }
                                        }
                                    </Nodes>
                                </DxTreeViewNode>
                            }
                        }
                    }
                }
            </Nodes>
        </DxTreeView>
    }
</div>


