@* @using HM.Core.Comun.v6.Seguridad.Interfaces
@using HM.Core.Comun.v6.Entidades.Seguridad
@using DevExpress.Blazor
@using DevExpress.Blazor.Internal
@using HM.Presupuestos.Infrastructure
@using HM.Presupuestos.Server.Servicios
@using HM.Presupuestos.Server.Utils
@using HM.Presupuestos.Server.ThemeSwitcher
@using HM.Presupuestos.Server.Services
@using System.Text.Json
@using HM.Presupuestos.Application.Servicios
@using HM.Presupuestos.Server.Helper
@using Microsoft.AspNetCore.Components.Authorization *@

@inject ITraductorRecursos TraductorRecursos
@inject NavigationManager Navigation
@inject ISessionService _SessionService
@inject IJwt _Jwt
@inject ConfiguracionService _ConfiguracionService
@inject InactividadService _InactividadService
@inject JsInteropHelper _InactividadInterop
@inject IConfiguration _Configuration
@inject TraduccionesHelper _TraduccionesHelper
@inject ControlCambiosService _ControlCambiosService
@inject IJSRuntime _JSRuntime
@inject AuthenticationStateProvider AuthStateProvider
@inject IUsuarioServicio _UsuarioService
@inject ErrorDialogService _ErrorService
@inject ILogService _LogService
@inject IGestorIdioma _IdiomaService
@inject INavigationService _NavigationService

@inherits LayoutComponentBase
@attribute [Authorize]

@* Componente modal para confirmar cambios *@
<ModalControlCambios @ref="ConfirmModalControlCambios" />

@* Para controlar los eventos de navegación *@
<NavigationLock OnBeforeInternalNavigation="@OnBeforeInternalNavigation"></NavigationLock>

@* Modal de advertencia de inactividad *@
<DxPopup @bind-Visible="MostrarAdvertenciaInactividad" 
         ShowCloseButton="false" 
         Width="300px" 
         Height="350px"
         HeaderText="@TituloModalAdvertencia" 
         CssClass="countdown-popup">
    <ChildContent>
        <div class="countdown-container">
            <h3 class="countdown-title">@TextoCuentaAtras</h3>
            <h1 class="countdown-display">@(TiempoRestante / 1000)</h1>
            <i class="fas fa-hand-paper attention-icon"></i>
        </div>
    </ChildContent>
</DxPopup>

@* Modal de error en inicialización *@
<DxPopup @ref="ErrorPopup"
         HeaderText="@TituloVentanaError"
         Width="400px"
         ShowCloseButton="false"
         CloseOnOutsideClick="false"
         Visible="@ErrorVisible">
    <div class="p-3">
        <p style="color:red">@MensajeError</p>
        <div class="d-flex justify-content-end mt-3">
            <DxButton RenderStyle="ButtonRenderStyle.Primary"
                      Text="Aceptar"
                      Click="CerrarPopupError" />
        </div>
    </div>
</DxPopup>

<div class="page">
    <DxGridLayout CssClass="page-layout" Id="Fondo">
        <Rows>
            <DxGridLayoutRow Areas="sidebar header" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="sidebar content"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="footer footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn Width="auto" />
            <DxGridLayoutColumn />
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="header-component">
                <Template>
                   <Header/>
                </Template>
            </DxGridLayoutItem>          
            <DxGridLayoutItem Area="content">
                <Template>
                    <DxDrawer CssClass="demo-drawer"
                              @bind-IsOpen="IsOpen"
                              Mode="Mode"
                              Position="Position"
                              PanelWidth="auto">
                        <BodyTemplate>
                            <div id="menuContainer" class="menuContainer">
                                <NavMenu />
                            </div>
                        </BodyTemplate>
                        <TargetContent>
                            <ModalAvisos/>
                            <div class="px-3">
                                @Body
                            </div>                                            
                        </TargetContent>
                    </DxDrawer>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="footer" CssClass="footer">
                <Template>
                    <Footer />
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>

    <LayerOverlay />
</div>

@* Para mostrar los diálogos para los mensajes *@
<DxDialogProvider />

@code {
    // Código-behind en MainLayout.razor.cs
}
